@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400..700&family=Cairo+Play:wght@200...600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {

  font-family: "Open Sans", sans-serif;
  background-image:
  padding: 0rem;
  background-color: #f0e45d;
}

header{
padding: 3em;
}

.info{
  padding: 1rem
}

.lyrics{
  height:15rem;
  width:30rem;
  overflow:auto;
  background-color:#e39054;
  color:white;
  padding: 0;
  margin: 0, auto;
  margin-top: 0;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e39054;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
  border-right: 3px, solid, #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover{
  background-color: #e67d5a;
}

.active {
  background-color: #e67d5a;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width:65rem;
}

.swiper{
  max-width: 60rem;
  margin: 0 auto;
}

.swiper img {
  max-height: 2rem;
  object-fit: cover;

}

.title{

}

.card {
  min-height: 200px;
  aspect-ratio: 1 / 1;
  display: block;
  position: relative;
  margin: 1rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  transition: opacity .5s;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover img {
  filter: blur(2px);
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  filter: blur(0px);
  transition: filter .5s;
}

main{
  max-width: 60rem;
  margin:0 auto;
}
img{
  width: 100%;
  display: block;
  margin: 2rem 0;
}
h1 {
  text-align: center;
  margin: 2rem 0;

  /* for calc, don't forget to have spaces around your operator! (the plus sign)   */
  /*   font-size: calc(1rem + 15vmin); */

  /*   font-size: clamp(minimum, ideal, maximum); */

  font-size:5rem;
}

h2{
  font-size: 4rem;
  background-color: white ;
  z-index: 800
}

.left{
  position: sticky;
  top: 49px;
  flex-basis: 48%;
  flex-grow:1;
}

.right{
  flex-basis: 48%;
  flex-grow: 1;
  min-width: 28rem;
}

p {
  font-size: 2rem;
  line-height: 1.75;
  margin-bottom: 2rem 0;
  font-size: clamp(0.85rem, 7vw, 1.5rem);
}

section{
  margin: 4rem 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  gap:1rem;
  padding: 1rem;
}

iframe{
  width: 100%;
  max-width: 60rem;
}

#work-and-family{

}

#work-and-family h2 {

}

h1{
  color: white
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #ddd;
    z-index: 2;
}

#progress {
    position: absolute;
    width: 0;
    height: 100%;
}

}
#back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    background-color: hsla(0, 0%, 0%, .90);
    padding: 1em;
    border-radius: .5em;
    text-decoration: none;
    line-height: .5;
    font-size: 2rem;
    font-weight: bold;
    color: pink;
